.banner-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}

.banner-content {
  padding: 80px 0;
}
.arrow-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 20px;
}

.banner-right img {
  max-width: 450px;
  width: 100%;
  height: 100%;
}
.banner-left {
  max-width: 550px;
  width: 100%;
}

.custom-dark-btn {
  border: 2px solid transparent;
  color: #fff;
  background: #ff4141;
  border-radius: 40px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
  padding: 0.6em 1.5em;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-dark-btn:hover {
  border: 2px solid #ff4141;
  background: transparent;
  color: #ff4141;
}
.banner-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-box h1 span {
  color: #ff4141;
}

.banner-box h1 {
  color: #000949;
}
.banner-box button {
  width: fit-content;
}
.banner-box-list {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: #f1f2fa;
}
/* ------------------------------------------------------------ */

/* ------------------------ course style ----------------------- */

.course-content {
  padding: 80px 0;
  background: #f1f2fa;
}

.course-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.course-box {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.course-content-wrapper h1 span {
  color: #ff4141;
}

.course-box-img img {
  max-width: 150px; /* Set an appropriate width for the images */
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, translateY 0.3s ease;
}

.course-box-img:hover img {
  transform: rotate(0deg) translateY(-10px); /* Reset rotation and move up on hover */
}

/* Different initial rotations for each image */
.rotate-0 {
  transform: rotate(-10deg);
}
.rotate-1 {
  transform: rotate(15deg);
}
.rotate-2 {
  transform: rotate(-20deg);
}
.rotate-3 {
  transform: rotate(5deg);
}
.rotate-4 {
  transform: rotate(-15deg);
}
.rotate-5 {
  transform: rotate(10deg);
}
/* ------------------------ feature style ----------------------- */
.feature-content {
  padding: 80px 0;
}
.feature-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.feature-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feature-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.feature-box-reverse {
  flex-direction: row-reverse;
}

.feature-box-img img {
  max-width: 450px; /* Adjust as needed */
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional for styling */
}

.feature-box-text {
  max-width: 600px; /* Adjust as needed */
  width: 100%;
}

.feature-box-text a {
  text-decoration: underline;
}
/* ------------------------------ key benefit ------------------------ */
.keybenefit-content {
  padding: 80px 0;
}

.keybenefit-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.keybenefit-content-wrapper h1 {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.keybenefit-box {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid #000949; */
  border-radius: 20px;
  gap: 80px;
  background: #f1f2fa;
  max-width: 850px;
  width: 100%;
}

.keybenefit-box img {
  max-width: 100px;
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.keybenefit-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
/* ----------------------------------------------------------- */
.wonder-content {
  padding: 80px 0;
}

.wonder-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.wonder-content-wrapper h1 {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.wonder-box-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.wonder-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  border-radius: 20px;
  background: #000949;
  padding: 20px;
}

.wonder-box h4 {
  color: #fff;
}
/* ---------------------------------- language ------------------------- */
.language-content {
  padding: 80px 0;
}

.language-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.language-box-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.language-box-right img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.language-box-left ul {
  list-style: circle;
}

.language-box-left ul li {
  margin-bottom: 20px;
}
.language-box-left {
  max-width: 400px;
  width: 100%;
}
/* ----------------------------- standout ------------------------------ */
.standout-content {
  padding: 80px 0;
}

.standout-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.standout-box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.standout-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #f1f2fa;
  border-radius: 20px;
}

.standout-box-right {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 40px;
}

.standout-box-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------------------------------------------- */
.foreignLang-content {
  padding: 80px 0;
}

.foreignLang-box-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.foreignLang-box-title p {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

.foreignLang-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.language-list {
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.foreignLang-box-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.foreignLang-box-right .circle img {
  max-width: 400px;
  width: 100%;
}
.foreignLang-box-right .circle {
  position: relative;
}
.foreignLang-box-right .circle .flag img {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  max-width: 300px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.language-list a {
  padding: 5px 10px;
  border-radius: 20px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-list a p {
  color: #fff;
}
.foreignLang-box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foreignLang-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ----------------------------------------------------------------- */
.global-dream-content {
  padding: 40px 0;
  background: #f1f2fa;
}

.global-dream-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.global-dream-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.global-dream-left ul {
  list-style: circle;
}

.global-dream-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.global-dream-left ul li {
  margin-bottom: 10px;
}

.global-dream-right img {
  max-width: 450px;
  width: 100%;
  border-radius: 20px;
  text-orientation: mixed;
}

.global-dream-content-wrapper h1 {
  text-align: center;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}
/* ------------------------------------------------------------- */

.faq-box-wrapper {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.faq-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.faq-content-wrapper h1 {
  text-align: center;
}

.faq-content {
  padding: 80px 0;
  position: relative;
}
.faq-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/ser_shap.png) no-repeat;
  z-index: -1;
}
/* -------------------------------------------------------------- */
.reviews-slider {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 20px;
}

.review-slide {
  text-align: center;
  background: #f1f2fa;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.3s ease-in-out;
}

.profile-picture img {
  max-width: 100px;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #000949;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.designation {
  font-size: 1em;
  color: #777;
  margin-bottom: 20px;
}

.review-text p {
  font-size: 1em;
  line-height: 1.6;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000949;
  font-size: 20px;
}

.swiper-pagination-bullet {
  background-color: #000949;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #000949 !important;
}
.autoplay-progress {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000949;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #000949;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.reviews-slider-wrapper {
  padding: 80px 0;
  position: relative;
}
.reviews-slider-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/ser_shap_r.png) no-repeat;
  z-index: -1;
}

.reviews-slider-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.reviews-slider-content h1 {
  text-align: center;
}
/* Custom Swiper navigation arrows */
.swiper-button-prev,
.swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  background-color: #000949; /* Set background color to #000949 */
  color: white !important; /* Set arrow color to white */
  border-radius: 50%; /* Make the arrows round */
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  left: 10px !important; /* Adjust position to bottom left */
  bottom: 10px !important; /* Align to bottom */
}

.swiper-button-next {
  right: 10px !important; /* Adjust position to bottom right */
  bottom: 10px !important; /* Align to bottom */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important; /* Adjust arrow icon size */
  font-weight: bold;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #000949; /* Slightly lighter shade on hover */
}
/* ------------------------------------------------------------------ */

.linguistics-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background: #f1f2fa;
  padding: 80px 0 40px 0;
}

.linguistics-box-wrapper {
  position: relative;
  overflow: hidden;
}
.linguistics-box-wrapper .swiper {
  padding-bottom: 100px;
}
/* Styling the wave-carousel with scaling and positions */
.wave-carousel .swiper-container {
  padding-bottom: 100px;
}

.wave-carousel .swiper-slide {
  transform: scale(0.9);
  position: relative;
  transition: all 0.4s ease;
  top: 0;
}

/* Custom styles for different slide positions */
.wave-carousel .swiper-slide-active {
  transform: scale(1.1);
  padding: 0 20px;
  filter: drop-shadow(5px 50px 30px #07397211);
}

.wave-carousel .swiper-slide-next {
  transform: scale(1);
  top: 50px;
  padding: 0 12px;
}

.wave-carousel .swiper-slide-prev {
  transform: scale(1);
  top: 50px;
  padding: 0 12px;
}

.wave-carousel .swiper-slide-nth-next-2 {
  transform: scale(1);
  top: 100px;
  padding: 0 9px;
}

.wave-carousel .swiper-slide-nth-prev-2 {
  transform: scale(1);
  top: 100px;
  padding: 0 9px;
}
/* ------------------------------------------------------- */

.language-box-wrapper {
  flex-wrap: wrap;
}

.foreignLang-box-content {
  flex-wrap: wrap;
  gap: 20px;
}

.global-dream-box {
  flex-wrap: wrap;
  gap: 20px;
}

.footer-content {
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.footer-right {
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.banner-content-wrapper {
  flex-wrap: wrap;
}
.feature-box {
  flex-wrap: wrap;
}
.foreignLang-content {
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .banner-content-wrapper,
  .foreignLang-box-content,
  .language-box-wrapper,
  .global-dream-box,
  .standout-box-wrapper,
  .feature-box {
    justify-content: center;
  }
  .foreignLang-box {
    text-align: center;
  }
  .standout-box-right,
  .wonder-box-content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .layout-wrapper {
    overflow: hidden;
  }
}
@media screen and (max-width: 767px) {
  .reviews-slider {
    max-width: 300px;
  }

  .banner-right img {
    max-width: 300px;
    width: 100%;
  }

  .feature-box-img img {
    max-width: 400px;
    width: 100%;
  }

  .language-box-right img {
    max-width: 350px;
    width: 100%;
  }

  .linguistics-content {
    overflow: hidden;
  }
  .wonder-box-content {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .standout-box-right {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .course-content-wrapper h1,
  .language-content-wrapper h1 {
    text-align: center;
  }
  .keybenefit-box {
    flex-direction: column;
    gap: 20px;
  }
}
