@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ff4141;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000949;
}
p {
  color: #6d7287;
  margin: 0;
  padding: 0;
}
